body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, div, span, img, footer {
    margin: 0px;
    cursor: default;

    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
body {
    background: #e5e5e5 url(../images/background.png);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
a {
    color: #333;
    text-decoration: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    transition: 500ms;
    -o-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;
}
a:hover {
    color: #707070;
    text-shadow: 1px 1px 5px #969696;
}
img {
    max-width: 100%;
    border-radius: 5px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    transition: 500ms;
    -o-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;
}
img:hover {
    -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1),1px 1px 30px 5px rgba(0, 0, 0, 0.2);

    opacity: .8;
}

/* 侧边栏友情链接和回复列表中的头像 */
img.avatar {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50px;

    transition: 500ms;
    -o-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;
}


.article-list .main p {
    margin: 10px 0px;
}

/* 布局 */

.container {
    max-width: 90%;
    margin: 0 auto;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}
@media (min-width: 1170px) {
    .container {
        max-width: 80%;
    } 
}


/* semantic框架提供的 label */

.ui.ribbon.label {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* 代码 */

pre, code {
    border-radius: 5px;
    color: #DE3859;
    border: 1px solid #ddd;
    padding: 2px 5px;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
pre {
    padding: 10px;
    border-left: 4px solid #de3859;
    overflow: auto;
}
pre code {
    border: 0px;
    padding: 0px;
}


/* footer 部分 */

footer {
    text-align: center;
    margin-top: 20px;
    color: rgb(136, 136, 136);
    font-size: 14px;
}
footer p {
    margin: 5px 0px;
}
footer a {
    color: rgb(136, 136, 136);
}
footer a:hover {
    color: rgb(200, 200, 200);
}

/* 光标 */
.side .block .label:hover, .main .block .comments:hover, .main .block .round-date:hover {
    cursor: pointer;
}


#content {
    position:relative;
    margin-top: -180px;
}

.zocial:before {
    border: none;
}
